certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.4.7
docker==5.0.0
docopt==0.6.2
english==2020.7.0
Flask==0.12.2
idna==2.6
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.11.3
MarkupSafe==1.1.1
monotonic==1.6
neotime==1.7.4
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pansi==2020.7.3
prompt-toolkit==2.0.10
py2neo==2021.0.1
pycparser==2.20
Pygments==2.8.1
PyHDFS==0.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pywin32==227
requests==2.18.4
scikit-learn==0.20.3
scipy==1.5.4
simplejson==3.17.2
six==1.15.0
urllib3==1.22
wcwidth==0.2.5
websocket-client==0.58.0
Werkzeug==1.0.1
